.main {
  cursor: pointer;
  position: relative;
  width: 300px;
  height: 44px;
  border: 1px solid #c3c3c3;
  border-radius: 3px;
  padding: 12px 30px 8px 15px;
}
.content {
  cursor: pointer;
  position: absolute;
  margin-top: 3px;
  width: 300px;
  border-radius: 3px;
  box-shadow: -1px 5px 0px 0px #D7D7D7,
  5px 5px 0px 0px #D7D7D7;
  padding: 9px 0;
  background: white;
  z-index: 1;
}
.content ul {
  padding: 0;
  margin: 0;
}
.content ul li {
  padding: 3px 30px 1px 15px;
  list-style-type: none;
  height: 26px;
  font-size: 17px;
  line-height: 22px;
  &:hover {
    background: #FFE783;
  }
}
.active {
  background: #FFDA42;
}
