<div class="wrapper">
  <h1 class="appTitle">Анкета</h1>
  <div class="paragraph">
    <p class="paragraphText">Имя<span class="paragraphRequire">*</span></p>
    <app-testInput option="name"></app-testInput>
  </div>
  <div class="paragraph">
    <p class="paragraphText">Возраст<span class="paragraphRequire">*</span></p>
    <app-testNumber></app-testNumber>
  </div>
  <div class="paragraph">
    <p class="paragraphText">
      Семейное положение<span class="paragraphRequire">*</span>
    </p>
    <app-testSelect [title]="maritalStatusArray"></app-testSelect>
  </div>
  <div class="paragraph">
    <p class="paragraphText">ВУЗ</p>
    <app-testInput option="university"></app-testInput>
  </div>
  <div class="paragraph">
    <p class="paragraphText">Место рождения</p>
    <app-testSelect option="active" [title]="placeOfBirthArray"></app-testSelect>
  </div>
  <div class="paragraph">
    <p class="paragraphText">Навыки</p>
    <app-testCheckbox></app-testCheckbox>
  </div>
</div>
