.wrapper {
  padding: 87px 0 0 135px;

  .appTitle {
    font-size: 41px;
    line-height: 53px;
    margin-bottom: 42px;
  }
  .paragraph {
    display: flex;
    align-items: center;
    margin-bottom: 15px;

    .paragraphText {
      width: 140px;
      margin-right: 17px;
      font-size: 17px;
      line-height: 22px;

      .paragraphRequire {
        color: red;
      }
    }
  }
}

